/* COLORS
off-white: #f5f5f5
background white: #e7e6e6
black text: #111111 
subheading (purply-grey): #483b82
purple background: #6943FF 
purple border: B295FF
*/

html {
  font-family: Rubik, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
}

body {
  color: #f5f5f5;
  background: #323232;
  text-align: center;
  /* I can't figure out what's going on with the setting the height here. it stretches the background to 100% on ipad and a few others, but not on others. */
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(to right top,
      #f00a8c, #e10097, #ce00a2, #b700ad, #9b00b8, #8c00c1,
      #7808ca, #5d13d3, #541cdd, #4723e7, #332af2, #0231fc);
}

.top-half {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: .5rem;
}

h1,
h2,
h3,
h4 {
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #252525;
  margin: 0;
}

h1 {
  font-family: monoton, 'san serif';
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  font-size: 2.1rem;
  font-weight: 600;
  margin-top: .35rem;
}

h3 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 1rem;

}

h4 {
  font-size: 1.9rem;
}

p {
  margin: 0;
}

#value-to-convert {
  color: #f5f5f5;
  background: #111111;
  text-align: center;
  font-size: 3rem;
  border-radius: 4px;
  border: 2px solid #f5f5f5;
  padding: 1.5% 0;
  margin-top: 1.2rem;
  margin-bottom: .3rem;
}

button {
  font-family: inherit;
  color: #f5f5f5;
  background: #111111;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 4px;
  margin: .4rem auto 0 auto;
  padding: .7rem 5%;
}

button:hover {
  background: #222222;
}

button:active {
  transform: scale(.95);
}

.bottom-half {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: .7rem;
  height: 60vh;
  padding: .5rem 0;
  margin: 0;
}

div.measurement-box {
  display: flex;
  flex-direction: column;
  background: #111111;
  width: 94%;
  height: 28%;
  min-height: 100px;
  padding: 2% 0;
  justify-content: center;
}

.unit-type {
  font-size: 1.4rem;
  font-weight: 700;
  padding-bottom: 3%;
}

.output {
  font-size: 1.2rem;
  margin: 0;
  line-height: 1.5;
}

/* #region media queries */

@media only screen and (max-width: 399px) {
  html {
    font-size: 14px;
  }

  button {
    font-size: 1.3;
  }
}


 @media only screen and (min-width: 475px) and (max-width: 949px) {
  div.measurement-box {
    width: 80%;
  }
}

/* #endregion */

/* #region*/
/* wide (unfinished) */
@media only screen and (min-width: 900px) {
  html {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  body {
    margin: .8rem;
  }

  .container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    /* justify-content: space-between; */
    gap: 1rem;
    align-items: start;
  }

  .top-half {
    width: 46%;
    max-width: 5750px;
    min-height: 50vh;
    max-height: 55vh;
  }

  .bottom-half {
    max-width: 550px;
    width: 51%;
    margin-top: 1rem;
  }

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.2rem;
    margin-top: 0;
  }

  h4 {
    font-size: 2.2rem;
    margin-top: -.2rem;
  }

  #value-to-convert {
    font-size: 3.5rem;
    padding: .8rem;
  }

  button {
    margin-top: 0;
    font-size: 1.3rem;
  }

  div.measurement-box {
    height: 30%;
  }
}

/* #endregion */